In [1]:
import pandas as pd
import numpy as np
import os, pickle

In [2]:
filename = 'merged_smoothed_monthly_by_meternumber_consumerid_march032021.pck'
mypath = '/mnt/nfs/work1/jtaneja/jmugyenyi/REG_consumption_data/smoothed_folder'
df_full = pd.read_pickle(os.path.join(mypath,filename))

In [2]:
df = pd.read_csv('/mnt/nfs/work1/jtaneja/jmugyenyi/REG_consumption_data/reg_data_combined.csv', nrows=20)

In [3]:
df.head()

,meter_serial_number,consumer_id,consumer_unit_id,poc_id,poc_unit_id,transaction_date,vending_category_id,vending_category_name,transaction_item_type,block_index,block_start_value,block_amount,tariff_name,kWh_sold,amount,installation_date,district_id,district
0,4230304885,20140130 103411.970 0002014 0109,2014,20140130 103541.039 0002014 0159,2014,2017-11-17 17:25:41.937000000,13,11. Non Residential,TAX,NaN,NaN,NaN,TVA tax,0.0,304.000,2014-01-30 10:35:55,106,KIGALI
1,4230304885,20140130 103411.970 0002014 0109,2014,20140130 103541.039 0002014 0159,2014,2017-09-16 19:22:02.577000000,13,11. Non Residential,TAX,NaN,NaN,NaN,Regulatory_Fee,0.0,5.000,2014-01-30 10:35:55,106,KIGALI
2,4230304885,20140130 103411.970 0002014 0109,2014,20140130 103541.039 0002014 0159,2014,2019-04-22 09:31:39.823000000,13,11. Non Residential,TAX,NaN,NaN,NaN,Rura_fee,0.0,2.535,2014-01-30 10:35:55,106,KIGALI
3,4230304885,20140130 103411.970 0002014 0109,2014,20140130 103541.039 0002014 0159,2014,2017-05-06 18:46:05.573000000,13,11. Non Residential,TAX,NaN,NaN,NaN,TVA tax,0.0,304.000,2014-01-30 10:35:55,106,KIGALI
4,4230304885,20140130 103411.970 0002014 0109,2014,20140130 103541.039 0002014 0159,2014,2017-08-22 16:08:04.093000000,13,11. Non Residential,TAX,NaN,NaN,NaN,TVA tax,0.0,304.000,2014-01-30 10:35:55,106,KIGALI

In [84]:
df_full[df_full.consumer_id.str.contains('59833', regex=False)].meter_serial_number_consumer_id.unique()

array(['37125462095_59833', '1318636253_59833', '4206385322_159833',
       '14291339944_59833', '7074071353_59833', '4230767388_59833'],
      dtype=object)

In [5]:
df_full[df_full.meter_serial_number_consumer_id=='7081303146_216915'].sort_values(['year','month']).iloc[0:50]

,meter_serial_number_consumer_id,meter_serial_number,consumer_id,month,year,kWhs
29972283,7081303146_216915,7081303146,216915,10,2012,13.280000
29972290,7081303146_216915,7081303146,216915,11,2012,15.220000
29972297,7081303146_216915,7081303146,216915,12,2012,22.300000
29972226,7081303146_216915,7081303146,216915,1,2013,17.160000
29972233,7081303146_216915,7081303146,216915,2,2013,17.840000
29972240,7081303146_216915,7081303146,216915,3,2013,20.800000
29972247,7081303146_216915,7081303146,216915,4,2013,18.180000
29972253,7081303146_216915,7081303146,216915,5,2013,18.420000
29972259,7081303146_216915,7081303146,216915,6,2013,17.100000
29972265,7081303146_216915,7081303146,216915,7,2013,17.200000
29972271,7081303146_216915,7081303146,216915,8,2013,13.320000
29972277,7081303146_216915,7081303146,216915,9,2013,18.380000
29972284,7081303146_216915,7081303146,216915,10,2013,15.300000
29972291,7081303146_216915,7081303146,216915,11,2013,0.866667
29972298,7081303146_216915,7081303146,216915,12,2013,16.433333
29972227,7081303146_216915,7081303146,216915,1,2014,25.300000
29972234,7081303146_216915,7081303146,216915,2,2014,6.400000
29972241,7081303146_216915,7081303146,216915,3,2014,14.080000
29972248,7081303146_216915,7081303146,216915,4,2014,9.600000
29972254,7081303146_216915,7081303146,216915,5,2014,8.320000
29972260,7081303146_216915,7081303146,216915,6,2014,14.600000
29972266,7081303146_216915,7081303146,216915,7,2014,16.640000
29972272,7081303146_216915,7081303146,216915,8,2014,14.020000
29972278,7081303146_216915,7081303146,216915,9,2014,10.240000
29972285,7081303146_216915,7081303146,216915,10,2014,8.880000
29972292,7081303146_216915,7081303146,216915,11,2014,8.320000
29972299,7081303146_216915,7081303146,216915,12,2014,7.040000
29972228,7081303146_216915,7081303146,216915,1,2015,5.760000
29972235,7081303146_216915,7081303146,216915,2,2015,9.600000
29972242,7081303146_216915,7081303146,216915,3,2015,3.200000
29972249,7081303146_216915,7081303146,216915,4,2015,5.333333
29972255,7081303146_216915,7081303146,216915,5,2015,27.306667
29972261,7081303146_216915,7081303146,216915,6,2015,30.000000
29972267,7081303146_216915,7081303146,216915,7,2015,30.700000
29972273,7081303146_216915,7081303146,216915,8,2015,15.526667
29972279,7081303146_216915,7081303146,216915,9,2015,5.233333
29972286,7081303146_216915,7081303146,216915,10,2015,4.600000
29972293,7081303146_216915,7081303146,216915,11,2015,23.300000
29972300,7081303146_216915,7081303146,216915,12,2015,102.100000
29972229,7081303146_216915,7081303146,216915,1,2016,133.080000
29972236,7081303146_216915,7081303146,216915,2,2016,98.120000
29972243,7081303146_216915,7081303146,216915,3,2016,139.375000
29972250,7081303146_216915,7081303146,216915,4,2016,140.275000
29972256,7081303146_216915,7081303146,216915,5,2016,138.370000
29972262,7081303146_216915,7081303146,216915,6,2016,113.160000
29972268,7081303146_216915,7081303146,216915,7,2016,119.920000
29972274,7081303146_216915,7081303146,216915,8,2016,139.160000
29972280,7081303146_216915,7081303146,216915,9,2016,134.320000
29972287,7081303146_216915,7081303146,216915,10,2016,152.720000
29972294,7081303146_216915,7081303146,216915,11,2016,123.200000

In [90]:
df_full[df_full.meter_serial_number==7073900032].sort_values(['year','month'])

,meter_serial_number_consumer_id,meter_serial_number,consumer_id,month,year,kWhs
13310943,7073900032_167918,7073900032,167918,11,2012,6.409000
13310949,7073900032_167918,7073900032,167918,12,2012,6.851000
13310899,7073900032_167918,7073900032,167918,1,2013,6.851000
13310905,7073900032_167918,7073900032,167918,2,2013,2.210000
13310921,7073900032_167918,7073900032,167918,5,2013,337.518000
13310924,7073900032_167918,7073900032,167918,6,2013,562.530000
13310927,7073900032_167918,7073900032,167918,7,2013,581.281000
13310930,7073900032_167918,7073900032,167918,8,2013,412.522000
13310934,7073900032_167918,7073900032,167918,9,2013,1261.470000
13310938,7073900032_167918,7073900032,167918,10,2013,1862.170000
13310944,7073900032_167918,7073900032,167918,11,2013,1802.100000
13310950,7073900032_167918,7073900032,167918,12,2013,1141.330000
13310931,7073900032_167918,7073900032,167918,8,2014,537.508000
13310935,7073900032_167918,7073900032,167918,9,2014,948.660000
13310939,7073900032_167918,7073900032,167918,10,2014,980.282000
13310945,7073900032_167918,7073900032,167918,11,2014,822.172000
13310900,7073900032_167918,7073900032,167918,1,2015,1264.880000
13310906,7073900032_167918,7073900032,167918,2,2015,1770.832000
13310912,7073900032_167918,7073900032,167918,3,2015,1960.564000
13310917,7073900032_167918,7073900032,167918,4,2015,1391.368000
13310951,7073900032_167918,7073900032,167918,12,2015,46.444000
13310901,7073900032_167918,7073900032,167918,1,2016,1439.764000
13310907,7073900032_167918,7073900032,167918,2,2016,1346.876000
13310913,7073900032_167918,7073900032,167918,3,2016,1439.764000
13310918,7073900032_167918,7073900032,167918,4,2016,417.996000
13310946,7073900032_167918,7073900032,167918,11,2016,278.664000
13310952,7073900032_167918,7073900032,167918,12,2016,1439.764000
13310902,7073900032_167918,7073900032,167918,1,2017,1439.764000
13310908,7073900032_167918,7073900032,167918,2,2017,1300.432000
13310914,7073900032_167918,7073900032,167918,3,2017,232.220000
13310940,7073900032_167918,7073900032,167918,10,2017,264.252000
13310947,7073900032_167918,7073900032,167918,11,2017,1321.260000
13310953,7073900032_167918,7073900032,167918,12,2017,1365.302000
13310903,7073900032_167918,7073900032,167918,1,2018,1365.302000
13310909,7073900032_167918,7073900032,167918,2,2018,132.126000
13310925,7073900032_167918,7073900032,167918,6,2018,1.432000
13310928,7073900032_167918,7073900032,167918,7,2018,5.549000
13310932,7073900032_167918,7073900032,167918,8,2018,5.549000
13310936,7073900032_167918,7073900032,167918,9,2018,5.370000
13310941,7073900032_167918,7073900032,167918,10,2018,0.179000
13310910,7073900032_167918,7073900032,167918,2,2019,4982.373077
13310915,7073900032_167918,7073900032,167918,3,2019,2639.574923
13310919,7073900032_167918,7073900032,167918,4,2019,2.520000
13310922,7073900032_167918,7073900032,167918,5,2019,2.604000
13310926,7073900032_167918,7073900032,167918,6,2019,1.512000
13310929,7073900032_167918,7073900032,167918,7,2019,3.000000
13310933,7073900032_167918,7073900032,167918,8,2019,16.547826
13310937,7073900032_167918,7073900032,167918,9,2019,5.152174
13310942,7073900032_167918,7073900032,167918,10,2019,5.323913
13310948,7073900032_167918,7073900032,167918,11,2019,10.784521
13310954,7073900032_167918,7073900032,167918,12,2019,3.137349
13310904,7073900032_167918,7073900032,167918,1,2020,3.137349
13310911,7073900032_167918,7073900032,167918,2,2020,2.436867
13310916,7073900032_167918,7073900032,167918,3,2020,2.108000
13310920,7073900032_167918,7073900032,167918,4,2020,2.040000
13310923,7073900032_167918,7073900032,167918,5,2020,1.700000

In [79]:
filename = 'consumption_file_batch_323000_reg.pck'
mypath = '/mnt/nfs/work1/jtaneja/jmugyenyi/REG_consumption_data/batched_data/smoothed_grouped_meter_consumer_pairs'
savepath = '/mnt/nfs/work1/jtaneja/jmugyenyi/REG_consumption_data/batched_data/half_year_smoothed_consumption'
df = pd.read_pickle(os.path.join(mypath,filename))

In [73]:
years = [2013, 2014, 2015, 2016, 2017, 2018, 2019]
# Select customers that have continous data from 2012 - 2019
ids0 = df[((df.year==2012))].meter_serial_number_consumer_id.unique().tolist()
for year in years:  
    ids0 = df[(df.meter_serial_number_consumer_id.isin(ids0)) & 
              (df.year==year)].meter_serial_number_consumer_id.unique().tolist()
df = df[df.meter_serial_number_consumer_id.isin(ids0)]

In [74]:
len(df)

48191

In [54]:
# Lists
meter_serial_number_consumer_id = []
mean_consumption_2_12 = []
mean_consumption_1_13 = []
mean_consumption_2_13 = []
mean_consumption_1_14 = []
mean_consumption_2_14 = []
mean_consumption_1_15 = []
mean_consumption_2_15 = []
mean_consumption_1_16 = []
mean_consumption_2_16 = []
mean_consumption_1_17 = []
mean_consumption_2_17 = []
mean_consumption_1_18 = []
mean_consumption_2_18 = []
mean_consumption_1_19 = []
mean_consumption_2_19 = []

# Use meta file to filter out "Non Residential" customers
meta_datafile = '/mnt/nfs/work1/jtaneja/jmugyenyi/REG_consumption_data/metadata_folder/REG_metadata_March_3_2021.pck'
meta_df = pickle.load(open(meta_datafile,'rb'))
meta_df['meter_serial_number_consumer_id'] = meta_df['meter_serial_number'].astype(str)+'_'+meta_df['consumer_id']
b = ['10. Residential', '2. T1 Tx FC1 AR STS']
residential_meta = meta_df[meta_df.vending_category_name.apply(lambda y: any(x in b for x in y))]

# Compute half year consumption for all customers
half_year_1 = [1,2,3,4,5,6] 
half_year_2 = [7,8,9,10,11,12] 
first_part_2015 = [1,2,3,4,5,6,7,8] # tariff change occurred on 1st Sept
second_part_2015 = [9,10,11,12]
df_residental = df[df.meter_serial_number_consumer_id.isin(residential_meta.meter_serial_number_consumer_id)]
grouped_df = df_residental.groupby('meter_serial_number_consumer_id')
print ('Starting file:',filename)
for name,group in grouped_df:
    half_2_12 = group[(group.year == 2012) & (group.month.isin(half_year_2))]
    half_1_13 = group[(group.year == 2013) & (group.month.isin(half_year_1))]
    half_2_13 = group[(group.year == 2013) & (group.month.isin(half_year_2))]
    half_1_14 = group[(group.year == 2014) & (group.month.isin(half_year_1))]
    half_2_14 = group[(group.year == 2014) & (group.month.isin(half_year_2))]
    half_1_15 = group[(group.year == 2015) & (group.month.isin(first_part_2015))]
    half_2_15 = group[(group.year == 2015) & (group.month.isin(second_part_2015))]
    half_1_16 = group[(group.year == 2016) & (group.month.isin(half_year_1))]
    half_2_16 = group[(group.year == 2016) & (group.month.isin(half_year_2))]
    half_1_17 = group[(group.year == 2017) & (group.month.isin(half_year_1))]
    half_2_17 = group[(group.year == 2017) & (group.month.isin(half_year_2))]
    half_1_18 = group[(group.year == 2018) & (group.month.isin(half_year_1))]
    half_2_18 = group[(group.year == 2018) & (group.month.isin(half_year_2))]
    half_1_19 = group[(group.year == 2019) & (group.month.isin(half_year_1))]
    half_2_19 = group[(group.year == 2019) & (group.month.isin(half_year_2))]


    mean_consumption_2_12.append(half_2_12.kWhs.mean())
    mean_consumption_1_13.append(half_1_13.kWhs.mean())
    mean_consumption_2_13.append(half_2_13.kWhs.mean())
    mean_consumption_1_14.append(half_1_14.kWhs.mean())
    mean_consumption_2_14.append(half_2_14.kWhs.mean())
    mean_consumption_1_15.append(half_1_15.kWhs.mean())
    mean_consumption_2_15.append(half_2_15.kWhs.mean())
    mean_consumption_1_16.append(half_1_16.kWhs.mean())
    mean_consumption_2_16.append(half_2_16.kWhs.mean())
    mean_consumption_1_17.append(half_1_17.kWhs.mean())
    mean_consumption_2_17.append(half_2_17.kWhs.mean())
    mean_consumption_1_18.append(half_1_18.kWhs.mean())
    mean_consumption_2_18.append(half_2_18.kWhs.mean())
    mean_consumption_1_19.append(half_1_19.kWhs.mean())
    mean_consumption_2_19.append(half_2_19.kWhs.mean())
    meter_serial_number_consumer_id.append(name)

summary_df = pd.DataFrame()
summary_df['meter_serial_number_consumer_id'] = meter_serial_number_consumer_id
summary_df['mean_consumption_2_12'] = mean_consumption_2_12
summary_df['mean_consumption_1_13'] = mean_consumption_1_13
summary_df['mean_consumption_2_13'] = mean_consumption_2_13
summary_df['mean_consumption_1_14'] = mean_consumption_1_14
summary_df['mean_consumption_2_14'] = mean_consumption_2_14
summary_df['mean_consumption_1_15'] = mean_consumption_1_15
summary_df['mean_consumption_2_15'] = mean_consumption_2_15
summary_df['mean_consumption_1_16'] = mean_consumption_1_16
summary_df['mean_consumption_2_16'] = mean_consumption_2_16
summary_df['mean_consumption_1_17'] = mean_consumption_1_17
summary_df['mean_consumption_2_17'] = mean_consumption_2_17
summary_df['mean_consumption_1_18'] = mean_consumption_1_18
summary_df['mean_consumption_2_18'] = mean_consumption_2_18
summary_df['mean_consumption_1_19'] = mean_consumption_1_19
summary_df['mean_consumption_2_19'] = mean_consumption_2_19

Starting file: consumption_file_batch_323000_reg.pck

In [55]:
summary_df

,meter_serial_number_consumer_id,mean_consumption_2_12,mean_consumption_1_13,mean_consumption_2_13,mean_consumption_1_14,mean_consumption_2_14,mean_consumption_1_15,mean_consumption_2_15,mean_consumption_1_16,mean_consumption_2_16,mean_consumption_1_17,mean_consumption_2_17,mean_consumption_1_18,mean_consumption_2_18,mean_consumption_1_19,mean_consumption_2_19
0,4206320410_151157,14.000000,15.100000,15.315476,12.276190,12.055769,13.664423,10.450000,13.526190,13.423810,10.935714,12.730952,6.240000,6.934524,8.018571,10.140000
1,4206320428_154564,15.800000,34.250000,68.711111,60.472222,63.900000,54.512500,62.125000,71.000000,59.166667,45.780000,42.549167,46.545833,31.848333,20.810000,16.083333
2,4206320436_119743,23.783333,33.716667,31.970833,22.165278,23.168056,24.296875,22.400000,20.608333,20.050000,15.816667,12.183333,6.333333,23.416667,53.650000,84.416667
3,5000398650_24288,87.847619,116.926190,79.347619,108.909524,128.261905,130.185714,121.435000,119.893333,105.504762,88.195238,92.566667,76.383333,72.433333,59.600000,NaN
4,5000399450_26002,59.366667,56.100000,60.461905,63.838095,82.326667,91.820000,47.300000,30.533333,34.257143,37.776190,53.957143,52.411429,106.083333,90.650000,100.314286
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
543,5000589340_22975,18.322222,30.505556,24.683333,23.722222,33.366667,19.395833,16.437500,25.591667,37.183333,44.966667,34.200000,19.450000,19.533333,28.105556,26.433333
544,5000589373_1452,98.500000,83.666667,69.800000,87.133333,81.027778,102.866667,83.150000,136.725000,100.543333,118.020000,116.686667,138.273333,124.226667,128.920833,111.375000
545,5000589415_20121215 181404.238 0002012 4612,2.520000,57.113333,49.408333,55.091667,76.366667,75.462500,111.142857,100.200000,74.914762,95.990000,31.256667,80.786111,77.283333,72.566667,70.550000
546,5000589472_138180,17.137374,13.236251,7.154321,11.266667,10.810494,8.490741,7.496528,8.673032,3.611852,4.253333,9.729012,8.818519,12.475926,12.836420,17.109259
547,5000589605_24120,83.371429,42.237143,16.833333,97.162222,77.348148,94.787500,72.359259,71.395370,72.202778,105.505556,100.100000,104.583333,84.904762,99.378571,88.200000

In [71]:
(summary_df[summary_df.isnull().sum(axis=1)>4])

Empty DataFrame
Columns: [meter_serial_number_consumer_id, mean_consumption_2_12, mean_consumption_1_13, mean_consumption_2_13, mean_consumption_1_14, mean_consumption_2_14, mean_consumption_1_15, mean_consumption_2_15, mean_consumption_1_16, mean_consumption_2_16, mean_consumption_1_17, mean_consumption_2_17, mean_consumption_1_18, mean_consumption_2_18, mean_consumption_1_19, mean_consumption_2_19]
Index: []

In [63]:
summary_df[summary_df.isnull().any(axis=1)]

,meter_serial_number_consumer_id,mean_consumption_2_12,mean_consumption_1_13,mean_consumption_2_13,mean_consumption_1_14,mean_consumption_2_14,mean_consumption_1_15,mean_consumption_2_15,mean_consumption_1_16,mean_consumption_2_16,mean_consumption_1_17,mean_consumption_2_17,mean_consumption_1_18,mean_consumption_2_18,mean_consumption_1_19,mean_consumption_2_19
3,5000398650_24288,87.847619,116.926190,79.347619,108.909524,128.261905,130.185714,121.435000,119.893333,105.504762,88.195238,92.566667,76.383333,72.433333,59.600000,NaN
7,5000401884_24619,29.875000,28.933333,26.393750,35.512500,36.183333,35.256250,29.226563,34.365625,25.383333,28.553846,36.212821,13.100000,18.766667,26.300000,NaN
10,5000432772_23028,21.533333,31.424242,26.777273,13.000000,22.424242,37.015909,30.729545,25.580000,42.039394,55.160606,39.734848,43.074242,30.405455,12.409091,NaN
14,5000435379_20120705 144718.843 0002015 1905,13.100000,9.840000,8.733333,17.400000,21.763333,9.360000,6.482143,16.253968,25.461905,20.307619,NaN,NaN,6.109524,6.171429,NaN
17,5000442946_61592,112.766667,89.600000,59.760000,24.842381,11.033333,15.260714,23.760000,22.192000,14.833333,71.305714,33.500000,21.695238,26.880000,8.300000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
500,5000585025_26560,11.819048,16.290476,14.233333,16.440000,NaN,22.137500,18.525000,18.625000,27.329167,26.862500,21.266667,25.200000,29.266667,25.280000,27.353333
508,5000585900_20111223 142049.695 0002021 0802,17.766667,20.840000,19.000000,NaN,65.960000,55.300000,68.350000,53.950000,53.916667,61.116667,42.066667,42.233333,26.733333,36.080000,44.566667
517,5000586387_22961,25.741667,51.829167,31.680000,90.450000,23.360000,19.550000,22.300000,2.990000,7.475000,2.800000,4.500000,3.300000,3.600000,2.200000,NaN
520,5000586841_22279,20.550000,82.200000,101.200000,NaN,50.600000,94.850000,NaN,23.200000,57.080000,70.312121,64.754545,55.277778,53.355556,34.050000,32.733333
537,5000588888_152751,26.495238,23.107937,30.011111,24.783333,21.850000,20.550000,16.925000,21.550000,23.150000,12.700000,9.500000,9.500000,NaN,NaN,4.800000

In [77]:

df_half_year =pd.read_pickle('/mnt/nfs/work1/jtaneja/jmugyenyi/REG_consumption_data/batched_data/combined_half_year_consumption.pck')

In [78]:
df_half_year

,meter_serial_number_consumer_id,mean_consumption_2_12,mean_consumption_1_13,mean_consumption_2_13,mean_consumption_1_14,mean_consumption_2_14,mean_consumption_1_15,mean_consumption_2_15,mean_consumption_1_16,mean_consumption_2_16,mean_consumption_1_17,mean_consumption_2_17,mean_consumption_1_18,mean_consumption_2_18,mean_consumption_1_19,mean_consumption_2_19
0,4206320410_151157,14.000000,15.100000,15.315476,12.276190,12.055769,13.664423,10.450000,13.526190,13.423810,10.935714,12.730952,6.240000,6.934524,8.018571,10.140000
1,4206320428_154564,15.800000,34.250000,68.711111,60.472222,63.900000,54.512500,62.125000,71.000000,59.166667,45.780000,42.549167,46.545833,31.848333,20.810000,16.083333
2,4206320436_119743,23.783333,33.716667,31.970833,22.165278,23.168056,24.296875,22.400000,20.608333,20.050000,15.816667,12.183333,6.333333,23.416667,53.650000,84.416667
3,5000398650_24288,87.847619,116.926190,79.347619,108.909524,128.261905,130.185714,121.435000,119.893333,105.504762,88.195238,92.566667,76.383333,72.433333,59.600000,NaN
4,5000399450_26002,59.366667,56.100000,60.461905,63.838095,82.326667,91.820000,47.300000,30.533333,34.257143,37.776190,53.957143,52.411429,106.083333,90.650000,100.314286
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
154938,4226811190_83386,1.900000,39.486667,20.046667,18.690000,39.155833,16.940625,24.885000,20.443333,16.233333,21.450000,21.066667,20.183333,27.233333,23.097222,31.208333
154939,4226811208_20120206 073952.760 0002039 5683,3.780000,82.853333,121.066667,142.066667,151.925000,107.864583,38.951923,24.776496,32.655556,32.534444,23.443333,22.127778,27.250000,38.475000,45.569444
154940,4226811786_113306,3.937500,10.610417,11.565152,10.204015,10.854167,7.907500,8.341667,19.716667,8.965278,8.407667,11.650000,9.503333,12.025000,6.850000,7.786000
154941,4226821371_26956,37.900000,138.950000,137.188889,151.394444,158.277778,181.579167,139.891667,80.150000,68.022222,112.933333,121.983333,120.566667,43.783333,46.166667,47.016667
154942,4226821389_12571,2.520000,65.813333,69.770000,74.674444,71.822222,49.125000,53.255000,38.780000,27.666667,35.740000,31.593333,33.858333,17.958333,19.520000,17.796667

In [17]:
step_size = 19000
consumption_datafile = '/mnt/nfs/work1/jtaneja/jmugyenyi/REG_consumption_data/smoothed_folder/merged_smoothed_monthly_by_meternumber_consumerid_march032021.pck'
consumption_data = pickle.load(open(consumption_datafile,'rb'))
# consumption_data = consumption_data[consumption_data.kWhs>=0]

unique_ids = consumption_data.meter_serial_number_consumer_id.unique().tolist()
length = (len(unique_ids)//step_size   + 1)* step_size
for i in np.arange(0,length,step_size):
    start_idx = i
    stop_idx  = start_idx + step_size
    tmp_ids = unique_ids[start_idx:stop_idx]
    tmp_df =  consumption_data[consumption_data.meter_serial_number_consumer_id.isin(tmp_ids)]
    test_list_set = set(tmp_ids) 
    if '14236265394_149706' in test_list_set : 
        print (f"Element Exists in {i}")

Element Exists in 323000

In [10]:
step_size = 19000
consumption_datafile = '/mnt/nfs/work1/jtaneja/jmugyenyi/REG_consumption_data/smoothed_folder/merged_smoothed_monthly_by_meternumber_consumerid_march032021.pck'
consumption_data = pickle.load(open(consumption_datafile,'rb'))
# consumption_data = consumption_data[consumption_data.kWhs>=0]

unique_ids = consumption_data.meter_serial_number_consumer_id.unique().tolist()

In [14]:
test_list_set = set(unique_ids) 
if '4226691618_20130515 102321.279 0002030 219' in test_list_set : 
    print ("Element Exists")

In [11]:
unique_ids.

['4226691618_20130515 102321.279 0002030 2194',
 '4226692111_202025',
 '4226690461_20130731 172221.428 0002035 2127',
 '4226691055_20130702 172320.858 0002035 9081',
 '4226690552_20130214 110556.063 0002034 9964',
 '4226692186_98449',
 '4226690479_20120507 105437.722 0002022 2368',
 '4226686410_20120104 174821.088 0002029 6883',
 '4226690628_20130711 111845.776 0002011 5705',
 '4226691626_168769',
 '4226692228_31581',
 '4226692228_236677',
 '4226692319_20140417 113729.982 0002015 3818',
 '4226692392_20130415 164847.666 0002030 0845',
 '4226691659_20180626 164814.287 0002014 6760',
 '4226692442_178190',
 '4226692442_20120807 110001.048 0002015 0001',
 '4226692509_20160707 135511.627 0002011 2718',
 '4226692129_20130423 143139.053 0002015 9554',
 '4226691154_250342',
 '4226686170_20140821 093627.088 0002011 5470',
 '4226690362_111497',
 '4226688697_181925',
 '4226691436_20130212 100623.124 0002017 6299',
 '4226691998_84249',
 '4226691998_20170825 080222.942 0002022 9975',
 '4226690271_20130410 120817.805 0002018 9248',
 '4226691998_20111206 163455.099 0002022 1851',
 '4226692590_84504',
 '4226690974_20121030 143239.625 0002011 6708',
 '4226691063_199214',
 '4226692665_73950',
 '4226690289_66509',
 '4226690818_20130731 161339.106 0002016 9712',
 '4226691659_157450',
 '4226692715_147621',
 '4226689364_190282',
 '4226692749_20130306 113011.692 0002014 7962',
 '4226692814_20120717 075613.929 0002022 1460',
 '4226692640_20131223 133510.697 0002016 5654',
 '4226690883_49188',
 '4226692020_168904',
 '4226690560_158155',
 '4226691444_36146',
 '4226691444_20130128 073437.912 0002034 0830',
 '4226692822_20130205 162116.681 0002022 3601',
 '4226692467_20120102 094513.896 0002022 1576',
 '4226692897_20130410 105546.902 0002015 5424',
 '4226692921_125455',
 '4226691816_20160715 140733.512 0002014 3444',
 '4226692194_12907',
 '4226689901_20130411 143048.485 0002035 6548',
 '4226691089_197811',
 '4226692236_86007',
 '4226690685_44753',
 '4226691162_20130814 161227.331 0002014 9166',
 '4226692962_24673',
 '4226691030_116485',
 '4226692020_20141028 150602.168 0002016 5013',
 '4226692137_20130507 123543.875 0002015 1611',
 '4226690321_20130729 150544.780 0002035 7323',
 '4226690636_227837',
 '4226692541_20130107 132056.827 0002022 7887',
 '4226692830_20140110 111107.446 0002011 5234',
 '4226692673_180136',
 '4226692962_12337',
 '4226692939_95742',
 '4226693044_20130124 142440.692 0002022 7159',
 '4226693135_91086',
 '4226693481_20130328 101659.863 0002021 5925',
 '4226693143_20120719 071947.966 0002022 0530',
 '4226693416_20130116 162726.366 0002030 4946',
 '4226693341_215880',
 '4226693499_20130718 100047.099 0002021 8824',
 '4226692681_249321',
 '4226693069_20130116 100717.957 0002022 7748',
 '4226693564_4806',
 '4226692038_20150922 145323.638 0002016 9815',
 '4226692038_162837',
 '4226690941_81436',
 '4226693077_20130124 141414.021 0002022 6639',
 '4226693077_20140402 152425.327 0002022 1154',
 '4226690768_68914',
 '4226693614_20131101 122927.833 0002012 9504',
 '4226692145_20130423 113959.098 0002015 9506',
 '4226691840_20171031 140421.772 0002010 4977',
 '4226693796_180824',
 '4226690040_20130528 090414.902 0002034 3056',
 '4226692970_20140220 121119.918 0002014 1753',
 '4226692970_20130522 142151.639 0002014 8389',
 '4226692475_86235',
 '4226689265_232915',
 '4226694026_20130716 133842.474 0002021 0130',
 '4226694034_20130705 105456.469 0002021 3301',
 '4226691105_20130718 100249.382 0002035 8909',
 '4226693986_78065',
 '4226692152_20130129 155842.756 0002015 6590',
 '4226691170_133566',
 '4226694109_148242',
 '4226692723_47396',
 '4226694042_20130710 072810.293 0002021 8228',
 '4226693994_20130322 110043.571 0002021 3320',
 '4226693507_20130718 095217.268 0002021 8505',
 '4226693085_20120813 105508.181 0002022 2425',
 '4226694117_97911',
 '4226694307_90109',
 '4226694000_20130708 133546.532 0002021 1105',
 '4226691287_128473',
 '4226692699_20130213 144720.293 0002038 1162',
 '4226694349_20130603 145232.689 0002021 8514',
 '4226694208_20130605 072210.335 0002021 8481',
 '4226694372_20130710 073831.505 0002021 8651',
 '4226694125_97910',
 '4226693093_86945',
 '4226694497_20130108 155614.477 0002016 2712',
 '4226692046_20150803 142001.776 0002022 1578',
 '4226693671_20130131 173829.365 0002033 7772',
 '4226693119_194120',
 '4226693366_20130116 162218.756 0002030 4596',
 '4226694059_20130129 160157.499 0002011 6747',
 '4226694539_35686',
 '4226693150_138693',
 '4226693150_20171102 160955.485 0002014 7282',
 '4226694216_20130603 160806.445 0002021 2605',
 '4226692053_161676',
 '4226693473_76025',
 '4226690644_20130709 132234.336 0002011 3420',
 '4226694588_20130124 102528.178 0002011 3470',
 '4226694224_20130603 165111.043 0002021 5671',
 '4226694737_20130308 101441.367 0002021 8610',
 '4226694695_125920',
 '4226694646_18854',
 '4226694547_46944',
 '4226694794_64845',
 '4226694869_148291',
 '4226694802_67689',
 '4226694919_183560',
 '4226694927_20130314 111804.525 0002021 1723',
 '4226694935_20130718 102813.674 0002021 9853',
 '4226694505_20130128 151741.707 0002021 8883',
 '4226692160_20130423 112004.867 0002015 8772',
 '4226693127_85087',
 '4226694596_17974',
 '4226692178_27875',
 '4226694943_20130314 112323.303 0002021 1918',
 '4226691238_86867',
 '4226690891_20130105 092935.831 0002016 5215',
 '4226692061_158921',
 '4226695007_20130709 144459.559 0002011 6266',
 '4226694950_236066',
 '4226694380_20130710 073328.756 0002021 8469',
 '4226694067_24148',
 '4226694653_20130118 112711.970 0002011 8237',
 '4226694315_20130605 072418.710 0002021 8558',
 '4226694513_17325',
 '4226695114_20121122 094347.144 0002025 5769',
 '4226695171_20130726 145151.510 0002016 1454',
 '4226691352_83845',
 '4226692756_20120521 144938.235 0002022 1935',
 '4226694810_72013',
 '4226690370_5546',
 '4226693176_20130105 094122.365 0002022 5655',
 '4226693176_20130522 092032.528 0002022 8849',
 '4226692798_20130115 073251.420 0002022 4717',
 '4226692079_136388',
 '4226691451_199339',
 '4226692830_80315',
 '4226694703_122539',
 '4226695213_20130618 081505.964 0002011 0121',
 '4226694232_20130529 064652.700 0002021 6091',
 '4226692988_77228',
 '4226695254_20130730 111205.289 0002016 0283',
 '4226695262_20130211 105154.733 0002016 0507',
 '4226692608_84454',
 '4226692855_76060',
 '4226694968_20130723 100702.575 0002021 4536',
 '4226688705_239264',
 '4226694992_20130709 135549.686 0002011 4488',
 '4226695320_92586',
 '4226692202_86655',
 '4226695338_72524',
 '4226695379_13899',
 '4226690909_20130802 113413.032 0002016 3504',
 '4226695429_20130731 112239.307 0002024 3040',
 '4226688713_73777',
 '4226694661_83683',
 '4226694828_56240',
 '4226694075_179389',
 '4226695478_20130715 084620.984 0002011 4056',
 '4226695619_20130705 104417.922 0002011 2712',
 '4226693036_111718',
 '4226695189_20130816 152323.426 0002024 6368',
 '4226691360_20130123 112355.733 0002014 1005',
 '4226695270_20130802 104116.367 0002016 0718',
 '4226695726_20130120 172125.012 0002028 9340',
 '4226691386_20130529 093037.841 0002011 1884',
 '4226694554_20130130 154843.391 0002011 1812',
 '4226695015_20130710 160102.836 0002011 5542',
 '4226695817_20130709 131703.388 0002011 3243',
 '4226695767_50725',
 '4226695627_20130705 101444.543 0002011 1199',
 '4226691667_128121',
 '4226694398_20130705 110104.592 0002021 3583',
 '4226695437_20130801 144723.361 0002024 5106',
 '4226695890_113147',
 '4226692210_112903',
 '4226695973_20120731 100339.343 0002028 0167',
 '4226694604_253360',
 '4226694083_20130130 153318.551 0002011 0998',
 '4226695775_20130709 133353.612 0002011 3770',
 '4226696070_154001',
 '4226696096_84183',
 '4226695346_72542',
 '4226694562_55878',
 '4226694091_20130530 102111.190 0002021 3750',
 '4226692616_20130105 094537.020 0002022 5835',
 '4226694406_20130708 083721.043 0002021 3184',
 '4226695734_185414',
 '4226695635_20130705 090229.734 0002011 7255',
 '4226693184_20130117 144739.100 0002022 6636',
 '4226694414_20130520 073115.996 0002021 2024',
 '4226694745_20130307 083222.608 0002021 6775',
 '4226691394_20141030 165222.645 0002011 8117',
 '4226691394_5804',
 '4226695908_20130125 115857.294 0002019 2808',
 '4226694752_20130311 091526.779 0002021 9483',
 '4226695783_20130722 143056.720 0002011 5972',
 '4226696104_20130123 175831.252 0002028 9238',
 '4226695791_20130710 140647.053 0002011 3319',
 '4226694877_20130530 082049.992 0002021 8942',
 '4226695288_20130722 095101.498 0002025 2904',
 '4226696435_20130409 121026.297 0002019 2148',
 '4226695916_20130128 090638.460 0002028 4450',
 '4226696112_20120816 155927.012 0002039 2948',
 '4226696229_20130124 082034.622 0002016 8090',
 '4226696443_20130129 090141.018 0002019 0419',
 '4226692087_180047',
 '4226694711_197305',
 '4226696294_20130117 080544.438 0002028 0512',
 '4226696302_20151217 114613.836 0002038 6914',
 '4226695023_142008',
 '4226692244_131421',
 '4226694422_20130520 160802.912 0002021 2408',
 '4226695221_20130711 102459.491 0002011 3939',
 '4226694430_20130708 083332.733 0002021 4980',
 '4226696559_142853',
 '4226695296_79609',
 '4226694521_118949',
 '4226694323_20130604 153729.989 0002021 6900',
 '4226694133_20130520 101826.164 0002021 9533',
 '4226695304_20111208 140750.390 0002016 0314',
 '4226695643_20130705 102050.823 0002011 1543',
 '4226694679_18668',
 '4226696609_20120302 100551.048 0002015 0304',
 '4226695742_20130801 155511.348 0002016 8728',
 '4226696658_20120829 091508.576 0002015 0583',
 '4226695197_20130816 153935.560 0002024 7226',
 '4226694141_97906',
 '4226694448_20130520 161020.114 0002021 2528',
 '4226695239_136427',
 '4226696617_20316',
 '4226694885_20130604 153538.306 0002021 6767',
 '4226695445_77941',
 '4226695981_20130221 102620.862 0002019 9546',
 '4226694158_97900',
 '4226694331_20130610 110131.031 0002021 3197',
 '4226694455_206845',
 '4226692913_61587',
 '4226696450_20130122 105351.968 0002002 4313',
 '4226694471_54050',
 '4226695825_20130120 174428.348 0002028 1537',
 '4226695031_80215',
 '4226692657_69070',
 '4226694760_79765',
 '4226693192_20130117 144453.609 0002022 6507',
 '4226691675_20120418 165703.051 0002038 6796',
 '4226690388_59313',
 '4226695353_245609',
 '4226695353_20140421 134138.219 0002016 3437',
 '4226696724_20130208 112139.669 0002016 4271',
 '4226696740_31858',
 '4226696468_20160712 073801.120 0002014 9064',
 '4226696468_20120829 094558.641 0002028 1950',
 '4226692095_100843',
 '4226692947_20130611 094710.275 0002014 9807',
 '4226696088_92984',
 '4226695999_20130122 140016.456 0002019 0422',
 '4226694240_20130118 084228.544 0002011 0748',
 '4226695312_68436',
 '4226695122_20130726 104549.550 0002025 1785',
 '4226695759_20130801 142918.300 0002016 4211',
 '4226694356_20130605 141616.789 0002021 3663',
 '4226694257_20130118 082827.506 0002011 0090',
 '4226696807_77890',
 '4226694570_36281',
 '4226694166_20130523 144516.495 0002021 0465',
 '4226695049_183252',
 '4226696666_181980',
 '4226696237_216329',
 '4226694174_20130517 135705.359 0002021 4079',
 '4226696872_20130207 154729.809 0002016 7147',
 '4226695130_20130722 101522.809 0002025 5914',
 '4226695924_20130128 085706.861 0002028 9388',
 '4226691204_20130827 090223.952 0002035 8275',
 '4226695452_77948',
 '4226695650_20130709 145015.971 0002011 6442',
 '4226696955_20130218 161329.696 0002016 0956',
 '4226696880_20130207 155133.018 0002016 7350',
 '4226696120_20130124 111141.501 0002028 0816',
 '4226694265_113289',
 '4226695809_20130709 131134.525 0002011 3053',
 '4226694273_180833',
 '4226695932_20130124 101647.672 0002028 3178',
 '4226696245_20130123 111310.877 0002016 0635',
 '4226697003_134451',
 '4226696567_236575',
 '4226695833_20130120 174643.852 0002028 1747',
 '4226694778_159390',
 '4226697086_20130311 152815.112 0002010 4097',
 '4226697086_20170303 094654.922 0002010 6824',
 '4226696328_215357',
 '4226695148_80341',
 '4226692251_232640',
 '4226697011_20131007 091540.232 0002011 3799',
 '4226697052_240474',
 '4226696476_20120509 142106.006 0002028 0640',
 '4226696328_74802',
 '4226696336_215317',
 '4226695841_20130120 175216.576 0002028 2338',
 '4226692954_20130506 174915.201 0002014 4046',
 '4226690396_23029',
 '4226695361_10817',
 '4226694182_20130603 144858.489 0002021 8382',
 '4226694729_20130307 150436.306 0002021 2127',
 '4226694190_20130523 081720.674 0002021 1123',
 '4226697151_20130715 100725.985 0002014 7501',
 '4226694364_20130605 072611.496 0002021 8640',
 '4226697193_9598',
 '4226696625_86060',
 '4226688721_20130702 172128.815 0002035 0326',
 '4226697235_6466',
 '4226697029_89295',
 '4226695668_20130718 112246.413 0002010 1480',
 '4226697060_20130612 080302.081 0002011 4859',
 '4226694018_20130716 133253.002 0002021 9925',
 '4226696633_20120827 093756.127 0002015 1663',
 '4226692624_20120216 161953.270 0002022 1015',
 '4226697250_20130307 153321.732 0002010 3636',
 '4226695056_20120313 103049.745 0002016 1177',
 '4226695155_87874',
 '4226695460_20130703 162800.173 0002011 5096',
 '4226695676_20130718 111954.133 0002010 1409',
 '4226695684_20120615 142914.916 0002029 4760',
 '4226695205_68612',
 '4226697284_20130408 132102.709 0002010 7835',
 '4226694612_91752',
 '4226695692_20130120 175527.927 0002028 2654',
 '4226696906_20130412 112908.575 0002030 5686',
 '4226695247_20120615 092923.518 0002011 1392',
 '4226697342_59001',
 '4226694687_20130121 154343.878 0002011 7716',
 '4226697268_10130',
 '4226697268_80441',
 '4226697367_155782',
 '4226697334_25273',
 '4226696138_181945',
 '4226694281_20120411 100621.631 0002021 0249',
 '4226694489_20130611 073313.404 0002021 4499',
 '4226695940_20130128 084751.175 0002028 3622',
 '4226696674_79242',
 '4226697458_20130409 111741.706 0002010 9102',
 '4226697433_139',
 '4226697433_13713',
 '4226692632_89891',
 '4226696484_20130123 113510.658 0002002 1427',
 '4226696344_20131231 103857.023 0002028 7146',
 '4226697508_130736',
 '4226696914_20130226 085129.739 0002030 1865',
 '4226696963_20130306 135215.918 0002016 2374',
 '4226696252_20130123 114539.242 0002002 1788',
 '4226697565_20130621 102255.130 0002022 5970',
 '4226695064_20130717 154541.560 0002016 2978',
 '4226697623_226077',
 '4226696757_20130122 102239.027 0002014 3041',
 '4226696260_224550',
 '4226696930_20130208 091602.110 0002016 9313',
 '4226697656_20130621 170654.030 0002011 2175',
 '4226697573_20130606 135016.726 0002022 2574',
 '4226697037_34026',
 '4226696492_20130123 150432.736 0002017 8370',
 '4226696575_20120615 082601.065 0002015 0945',
 '4226695072_20121122 093536.379 0002025 5386',
 '4226697771_92523',
 '4226694893_104327',
 '4226697201_514',
 '4226694836_20130416 110823.028 0002021 5165',
 '4226695858_20130120 174919.443 0002028 2023',
 '4226696765_20130208 090358.213 0002016 8845',
 '4226695163_134514',
 '4226697094_24873',
 '4226696815_20130207 112905.064 0002016 4451',
 '4226694299_50231',
 '4226696641_103127',
 '4226697169_20130121 141949.383 0002010 3987',
 '4226697375_20170308 081739.265 0002010 6093',
 '4226697375_10764',
 '4226697789_159525',
 '4226697813_20130726 142443.102 0002030 0227',
 '4226697854_20130612 145732.239 0002012 0328',
 '4226697821_141183',
 '4226697672_233409',
 '4226697672_20130813 110239.525 0002014 8828',
 '4226697821_20180622 130909.945 0002014 7868',
 '4226697946_20130621 101004.395 0002012 5411',
 '4226696005_20130122 155521.009 0002019 8426',
 '4226695866_20130118 162347.036 0002028 9236',
 '4226697862_13307',
 '4226696823_22626',
 '4226697219_20130409 141442.539 0002010 6805',
 '4226698092_27334',
 '4226697581_5905',
 '4226697680_20140225 120204.230 0002012 5444',
 '4226697979_20140505 182658.386 0002012 4172',
 '4226697698_9334',
 '4226696500_20130109 094429.206 0002015 4513',
 '4226694901_20130531 110408.306 0002021 9682',
 '4226696831_20130425 183756.084 0002012 8428',
 '4226697706_6363',
 '4226696849_20130425 183825.745 0002012 9321',
 '4226696856_20130208 114859.665 0002016 5291',
 '4226698068_20130121 101820.231 0002032 4623',
 '4226695700_20130122 073411.296 0002028 6120',
 '4226696773_20130128 101742.485 0002014 7466',
 '4226698142_20130419 155803.369 0002011 6321',
 '4226696864_20130208 095514.745 0002016 0706',
 '4226697227_20130408 135725.357 0002010 8411',
 '4226698076_20130201 102242.370 0002032 9563',
 '4226697870_20120625 164040.376 0002016 2353',
 '4226698159_20130426 155634.161 0002014 4566',
 '4226696583_20130103 093103.026 0002015 5422',
 '4226696146_20130125 120255.671 0002019 2985',
 '4226694620_20130118 152604.134 0002011 7066',
 '4226697888_24630',
 '4226697631_20111220 123859.944 0002011 1441',
 '4226698225_56257',
 '4226697102_181',
 '4226695882_20130120 183833.076 0002028 7324',
 '4226695098_20121122 095534.349 0002025 0398',
 '4226696278_20130123 132016.000 0002016 4556',
 '4226698167_13630',
 '4226695718_20130123 163654.377 0002028 3000',
 '4226697243_70068',
 '4226698332_20130410 092339.018 0002010 0748',
 '4226698084_20130128 120340.816 0002032 8149',
 '4226696286_20130124 084804.777 0002016 9353',
 '4226694844_83673',
 '4226696351_20130118 172309.237 0002028 4121',
 '4226698282_20130409 124247.485 0002010 3614',
 '4226698340_20130408 130312.295 0002010 5115',
 '4226697599_20130628 094330.588 0002012 7668',
 '4226697987_20130102 114257.543 0002010 3434',
 '4226696591_220871',
 '4226697995_26107',
 '4226698456_20130510 112831.137 0002010 6583',
 '4226697714_150571',
 '4226698381_20130408 131458.006 0002010 9955',
 '4226697516_215729',
 '4226698100_4466',
 '4226694786_81468',
 '4226698399_20130514 165109.824 0002010 1968',
 '4226697177_20130408 132711.532 0002010 0436',
 '4226696013_20121108 093114.785 0002019 4881',
 '4226698233_152031',
 '4226697466_20130204 073458.784 0002032 1742',
 '4226696518_20130118 100147.313 0002014 4221',
 '4226696153_20130125 104405.121 0002019 9866',
 '4226696369_199874',
 '4226695387_20130719 134651.200 0002010 1205',
 '4226697292_20130408 140033.529 0002010 1477',
 '4226696161_20130125 105003.146 0002019 0125',
 '4226698514_226066',
 '4226696013_20130122 140538.407 0002019 0639',
 '4226698357_20130408 134702.513 0002010 2106',
 '4226698357_20150618 111908.730 0002013 8748',
 '4226696021_20130122 140223.851 0002019 0508',
 '4226698654_27346',
 '4226697383_20130412 084433.211 0002010 3570',
 '4226698530_20130213 142247.930 0002032 0677',
 '4226698746_60975',
 '4226698662_155585',
 '4226697474_20130515 143507.024 0002010 0688',
 '4226697441_144141',
 '4226698837_142872',
 '4226696682_103549',
 '4226697847_20131203 154703.376 0002016 5272',
 '4226698894_20120625 153418.050 0002028 1605',
 '4226697078_20140211 115231.702 0002011 1706',
 '4226696526_20130109 164120.884 0002015 5703',
 '4226698993_102552',
 '4226698241_239888',
 '4226697896_95748',
 '4226697904_232019',
 '4226699108_20130805 115043.515 0002014 0915',
 '4226697607_229017',
 '4226698670_98258',
 '4226695957_20130124 100844.197 0002028 2900',
 '4226696534_20130121 132605.012 0002015 1913',
 '4226697540_20130510 121010.877 0002012 8043',
 '4226698753_135022',
 '4226698175_20121029 140423.594 0002032 2088',
 '4226694851_20130418 081237.463 0002021 1531',
 '4226698555_20120730 122123.830 0002029 9594',
 '4226695395_20130718 081848.316 0002010 5125',
 '4226697953_186018',
 '4226697482_20130626 101649.300 0002012 5558',
 '4226695403_20130724 093432.952 0002010 1319',
 '4226695411_20121128 111541.659 0002024 2891',
 '4226699199_20131118 131442.583 0002014 1493',
 '4226699231_20130913 115953.780 0002014 1801',
 '4226699009_20130128 145035.257 0002023 7669',
 '4226699207_20130822 152015.620 0002014 6541',
 '4226699017_20130730 102727.802 0002016 8417',
 '4226698571_20120208 134817.367 0002020 1490',
 '4226697615_20130710 080302.636 0002012 9710',
 '4226697185_32809',
 '4226697045_20140319 105058.215 0002016 9980',
 '4226696971_41011',
 '4226699272_5641',
 '4226698761_211284',
 '4226699322_20130624 093827.797 0002011 2834',
 '4226698779_86176',
 '4226698779_112187',
 '4226698183_202981',
 '4226698407_20130514 165605.238 0002010 2296',
 '4226698779_146900',
 '4226697359_2533',
 '4226698407_20170317 085056.993 0002010 7556',
 '4226698191_131433',
 '4226695965_20120510 084306.315 0002028 1503',
 '4226696039_20130124 103029.255 0002028 3660',

In [19]:
df

,meter_serial_number_consumer_id,meter_serial_number,consumer_id,month,year,kWhs
14806281,4239596648_251479,4239596648,251479,1,2015,8.523529
14806282,4239596648_251479,4239596648,251479,1,2016,5.667857
14806283,4239596648_251479,4239596648,251479,1,2017,6.770588
14806284,4239596648_251479,4239596648,251479,1,2018,3.463333
14806285,4239596648_251479,4239596648,251479,1,2019,4.488235
...,...,...,...,...,...,...
15742720,4232193252_20131213 130347.111 0002019 9237,4232193252,20131213 130347.111 0002019 9237,9,2014,9.252308
15742721,4232193252_20131213 130347.111 0002019 9237,4232193252,20131213 130347.111 0002019 9237,10,2014,7.770000
15742722,4232193252_20131213 130347.111 0002019 9237,4232193252,20131213 130347.111 0002019 9237,11,2014,8.820000
15742723,4232193252_20131213 130347.111 0002019 9237,4232193252,20131213 130347.111 0002019 9237,12,2013,2.992500
15742724,4232193252_20131213 130347.111 0002019 9237,4232193252,20131213 130347.111 0002019 9237,12,2014,8.505000

In [52]:
df[df.meter_serial_number_consumer_id=='14236265394_149706'].sort_values(['year','month'])

Empty DataFrame
Columns: [meter_serial_number_consumer_id, meter_serial_number, consumer_id, month, year, kWhs]
Index: []

In [2]:
df = pd.read_pickle(
    '/mnt/nfs/work1/jtaneja/jmugyenyi/REG_consumption_data/metadata_folder/REG_metadata_March_3_2021.pck')

In [9]:
df[['meter_serial_number_consumer_id','district']]

       meter_serial_number_consumer_id  district
0                           1805931_10  [KIGALI]
1                        7099738945_10  [KIGALI]
2                       4167724006_100  [KIGALI]
3                         1805903_1000  [KIGALI]
4                      7099841954_1000  [KIGALI]
...                                ...       ...
811536                4185408475_99998  [KIGALI]
811537                4226717199_99998  [KIGALI]
811538                7100343958_99998  [KIGALI]
811539                4185407121_99999  [KIGALI]
811540                7081390531_99999  [KIGALI]

[811541 rows x 2 columns]

In [7]:
df['meter_serial_number_consumer_id'] = df['meter_serial_number'].astype(str) +'_'+ df['consumer_id']